
#container{
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 400px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
.card img,h3,p{
    border-radius: 30px;
    width: 100%;
}


@media(max-width:450px){
 #container{flex-wrap: wrap;}
}